<mat-card *ngIf="post" class="example-card" style="margin-top: 0.25em;margin-bottom: 0.25em">
    <mat-card-header>
        <img mat-card-avatar src="{{post.profilePicture}}">
        <mat-card-title routerLink="/user/{{post.userId}}">{{post.userName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{(post.content)}}
        </p>
        <div style="display: flex;">
            <p style="padding-right:4px" *ngIf="post.collect">Collect : <b>{{post.collect}}</b></p>
            <p style="padding-right:4px" *ngIf="post.comments">Comments : <b>{{post.comments}}</b></p>
            <p style="padding-right:4px" *ngIf="post.mirrors">Mirrors : <b>{{post.mirrors}}</b></p>
        </div>
    </mat-card-content>
</mat-card>